<nav class="navbar navbar-expand-lg navbar-dark bg-dark " role="navigation">
	<div class="container">

		<!-- TODO: Aplicar logo do projeto -->
	<a class="navbar-brand" href="#"><h5>CATEGORIAS</h5></a>
	<button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
		&#9776;
	</button>
	<div class="container">
			<!-- TODO: Área reservada para Categorias e Subcategorias -->
	<div class="collapse navbar-collapse" id="exCollapsingNavbar">

			<ul class="nav navbar-nav">
				<li class="nav-item dropdown">
				<!--TODO: INSERIR NOME DE CATEGORIA-->
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Categoria
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<!--TODO: INSERIR LÓGICA DE INTERAÇÃO AQUI-->
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="#">SubCategoria</a>

				</div>
				</li>

				<li class="nav-item dropdown">
					<!--TODO: INSERIR NOME DE CATEGORIA-->
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Categoria
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<!--TODO: INSERIR LÓGICA DE INTERAÇÃO AQUI-->
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="#">SubCategoria</a>

					</div>
				</li>

				<li class="nav-item dropdown">
						<!--TODO: INSERIR NOME DE CATEGORIA-->
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Categoria
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<!--TODO: INSERIR LÓGICA DE INTERAÇÃO AQUI-->
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="#">SubCategoria</a>

						</div>
				</li>

				<li class="nav-item dropdown">
					<!--TODO: INSERIR NOME DE CATEGORIA-->
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Categoria
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<!--TODO: INSERIR LÓGICA DE INTERAÇÃO AQUI-->
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="#">SubCategoria</a>

					</div>
				</li>

			</ul>
		</div>
	</div>
	
	</div>
</nav>
