
<!-- TODO: <router-outlet> para conteúdo principal  -->
<!-- TODO: Criar uma home -->
<!-- [routerLink] = "['nomeDoModulo']" dentro da tag  -->

<div class="container-fluid">

	<!-- *Barra de Navegação -->
	<!-- *Carousel -->
	<div class="row" >
		<div class="col-12">
				<app-navbar></app-navbar>
		</div>
		<div class="col-12" style=" margin-bottom:0px">
			<app-carousel></app-carousel>
		</div>
		<div class="col-12">
			<app-category-bar></app-category-bar>
		</div>
  
</div>


<div class="row">
  <!-- *Área Reservada para Barra lateral -->
  <div class="col-md-4 col-lg-2 col-sm-12">
	<div class="d-none d-md-block">
		<div class="collapse show" id="Sidebar">
			<app-sidebar></app-sidebar>
		</div>
	</div>
  </div>

  <!-- *Área Reservada para Conteúdo -->
	<div class="col-auto">
    		<app-product-list></app-product-list>
  	</div>

</div>

<!-- 
<div class="jumbotron">
  <div class="container">
    <ngb-alert type="success" [dismissible]="false">
      Bootstrap is working!
    </ngb-alert>

    <h1>
      <i class="fa fa-bath" aria-hidden="true"></i>
      And so is Font Awesome!
    </h1>
  </div>
</div>

<div class="container">
  <p>
    A progress bar:
    <ngb-progressbar showValue="true" type="success" [value]="65">
    </ngb-progressbar>
  </p>
</div>

<div class="container">
  <ngb-tabset>
    <ngb-tab title="Bacon">
        <ng-template ngbTabContent>
          <p class="mt-4">Content for tab 1.
            <button type="button"
                    class="btn btn-secondary"
                    placement="bottom"
                    ngbPopover="A popover in tab 1"
                    popoverTitle="Bacon is good">
              Click me
            </button>
          </p>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Lettuce">
        <ng-template ngbTabContent>
          <p>Content for tab 2</p>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Tomatoes">
        <ng-template ngbTabContent>
          <p>Content for tab 3</p>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
</div>

 -->