
aaasd

<div class="container">
  <div class="jumbotron" style="margin-top: 50px; padding-top: 30px; padding-bottom: 30px">

    <div class="row">
      <div class="col-sm">
        <app-progresso></app-progresso>
      </div>
      <div class="col-sm">
        <app-tentativas></app-tentativas>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <h6>traduza a frase:</h6>
        <p>How are you</p>
        <div class="form-group">
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 ">
          <div class="d-flex justify-content-end">
              <button class=" btn btn-primary ">Verificar</button>
          </div>
      </div>
    </div>
    
  </div>
</div>